<table class="table table-hover .table-bordered">
	<!--<thead>
		<tr>
<<<<<<< HEAD
			<th>文件</th>
			
=======
			<th></th>
			<!--
>>>>>>> 77367d00df34f3dfdef2f7fb503f4ad20bbecb64
			<th>上传时间</th>
			<th>下载</th>
		
		</tr>
	</thead>-->
  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
		  <td><a href="/attachments/<%=attachment.id%>" class="link file_link"><%= attachment.title%></a></td>
      </tr>
    <% end %>
  </tbody>
</table>