<table class="table table-hover .table-bordered">
	<thead>
		<tr>
			<th></th>
			<!--
			<th>上传时间</th>
			<th>下载</th>
		-->
		</tr>
	</thead>
  <tbody>
    <% @attachments.each do |attachment| %>
      <tr>
		  <td><a href="/attachments/<%=attachment.id%>" class="link file_link"><%= attachment.title%></a></td>
      </tr>
    <% end %>
  </tbody>
</table>