<div>
	<h2 class="headline-1" style="margin: 65px 0px 18px; padding: 0px; font-size: 24px; font-family: 微软雅黑, 黑体, Verdana; font-weight: 500; line-height: 22px; clear: both; zoom: 1; position: relative; ">
		<span class="headline-content" style="line-height: 24px;">办学规模</span>
	</h2>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		计算机科学学院学院办学始于1984年，主要面向我国快速发展的信息产业领域培养工程型与应用型技术人才，现已拥有完整的学科专业结构和人才培养体系，设有计算机科学与技术、软件工程、网络工程、物联网工程共4个本科专业，并建有计算机科学与技术、软件工程两个硕士学位授权一级学科点、石油工程计算技术硕士点与博士点、以及计算机应用、软件工程等两个工程硕士领域，目前在校本科生及博士、硕士研究生总数近1300人。
	</div>
	<h2 class="headline-1" style="margin: 65px 0px 18px; padding: 0px; font-size: 24px; font-family: 微软雅黑, 黑体, Verdana; font-weight: 500; line-height: 22px; clear: both; zoom: 1; position: relative; left: -30px;">
		<span class="headline-1-index" style="width: 24px; height: 25px; color: rgb(204, 204, 204); line-height: 25px; text-align: right; font-size: 20px; display: block; float: left; margin-right: 6px;">2</span>
		<a name="2" class="anchor-1" style="color: rgb(19, 110, 194); position: absolute; top: -50px; display: block;"></a>
		<a name="sub648581_2" class="anchor-1" style="color: rgb(19, 110, 194); position: absolute; top: -50px; display: block;"></a>
		<span class="headline-content" style="line-height: 24px;">师资队伍</span>
		
	</h2>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">现有在册教职工104人，其中教授12人，副教授26人。</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		获得霍英东教育基金青年教师奖1人，省级优秀青年教师1人，地市级劳动模范1人。教师中有15人曾到过英、美、加拿大、日本等国攻读学位、进修或作访问学者。在教学、教学改革、科研等方面涌现出一批新人，显示出了师资队伍良好的发展态势。
	</div>
	<h2 class="headline-1" style="margin: 65px 0px 18px; padding: 0px; font-size: 24px; font-family: 微软雅黑, 黑体, Verdana; font-weight: 500; line-height: 22px; clear: both; zoom: 1; position: relative; left: -30px;">
		<span class="headline-1-index" style="width: 24px; height: 25px; color: rgb(204, 204, 204); line-height: 25px; text-align: right; font-size: 20px; display: block; float: left; margin-right: 6px;">3</span>
		<a name="3" class="anchor-1" style="color: rgb(19, 110, 194); position: absolute; top: -50px; display: block;"></a>
		<a name="sub648581_3" class="anchor-1" style="color: rgb(19, 110, 194); position: absolute; top: -50px; display: block;"></a>
		<span class="headline-content" style="line-height: 24px;">教学条件</span>
		
	</h2>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		南充校区：面积为260平方米；新都校区：面积为653平方米。有固定资产466台件，共计777万元，设备完好率97%以上。主要实验设备为：
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">微型计算机：220台；</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">SUN工作站：25台；</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">微机原理实验系统62台；</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">计算机组成原理实验系统62台；</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">计算机控制技术实验系统15台。</div>
	<h2 class="headline-1" style="margin: 65px 0px 18px; padding: 0px; font-size: 24px; font-family: 微软雅黑, 黑体, Verdana; font-weight: 500; line-height: 22px; clear: both; zoom: 1; position: relative; left: -30px;">
		<span class="headline-1-index" style="width: 24px; height: 25px; color: rgb(204, 204, 204); line-height: 25px; text-align: right; font-size: 20px; display: block; float: left; margin-right: 6px;">4</span>
		<a name="4" class="anchor-1" style="color: rgb(19, 110, 194); position: absolute; top: -50px; display: block;"></a>
		<a name="sub648581_4" class="anchor-1" style="color: rgb(19, 110, 194); position: absolute; top: -50px; display: block;"></a>
		<span class="headline-content" style="line-height: 24px;">现任领导</span>
		
	</h2>
	<table log-set-param="table_view" class="table-view log-set-param" width="365" style="border-collapse: collapse; border-spacing: 0px; margin: 5px 0px; word-wrap: break-word; word-break: break-all; font-size: 12px; line-height: 22px; color: rgb(0, 0, 0); font-family: arial, 宋体, sans-serif;">
		<tbody>
			<tr>
				<td width="63" align="left" valign="middle" style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;"> <b>姓名</b>
					</div>
				</td>
				<td width="110" align="left" valign="middle" style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;"> <b>职务</b>
					</div>
				</td>
				<td width="192" align="left" valign="middle" style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">
						<b>主要分管工作</b>
					</div>
				</td>
			</tr>
			<tr>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">赵永清</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">书记</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">党建和思想教育</div>
				</td>
			</tr>
			<tr>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">陈利学</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">院长</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">全面工作</div>
				</td>
			</tr>
			<tr>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">余辉</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">副书记</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">学生工作</div>
				</td>
			</tr>
			<tr>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">赵刚</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">副院长</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">本科教学</div>
				</td>
			</tr>
			<tr>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">陈汶滨</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">副院长</div>
				</td>
				<td style="margin: 0px; padding: 2px 10px; height: 22px; border: 1px solid rgb(230, 230, 230);">
					<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 0px; line-height: 25px;">科研、研究生、实验室</div>
				</td>
			</tr>
		</tbody>
	</table>
	<h2 class="headline-1" style="margin: 65px 0px 18px; padding: 0px; font-size: 24px; font-family: 微软雅黑, 黑体, Verdana; font-weight: 500; line-height: 22px; clear: both; zoom: 1; position: relative; left: -30px;">
		<span class="headline-1-index" style="width: 24px; height: 25px; color: rgb(204, 204, 204); line-height: 25px; text-align: right; font-size: 20px; display: block; float: left; margin-right: 6px;">5</span>
		<a name="5" class="anchor-1" style="color: rgb(19, 110, 194); position: absolute; top: -50px; display: block;"></a>
		<a name="sub648581_5" class="anchor-1" style="color: rgb(19, 110, 194); position: absolute; top: -50px; display: block;"></a>
		<span class="headline-content" style="line-height: 24px;">科研成果</span>
		
	</h2>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">1.石油工程模拟器系列</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		20世纪90年代初，根据石油工业的发展和继续教育的要求，该学院成功地研制出国内第一台钻井模拟器DS-1，先后通过了中国石油天然气总公司和四川省科委组织的鉴定，给予了“国内领先、国际先进”的高度评价，并获得四川省科技进步三等奖。经过十多年的不懈努力，钻井模拟器不断更新换代，技术和工艺更加成熟，并形成系列产品，以其质优价廉、一流的服务，赢得了广大客户的信赖，是业界公认国内功能最完善、性能最优良、价格最合理的钻井模拟器，已占领了国内钻井模拟器90%以上的市场份额。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		到目前为止，DS系列钻井模拟器已成功应用于大庆、吉林、四川、辽河、大港、华北、胜利、长庆、玉门、南阳、西南石油局等国内主要油田以及重庆石油科技学院、长江大学、中国地质大学、“油气藏地质及开发工程”国家重点实验室等教学科研单位，其中大庆、大港、华北、吉林、重庆石油科技学院利用DS模拟器获得IADC（国际钻井承包商协会）认证，取得了较好的经济效益和社会效益，为我国石油工业的继续教育做出了贡献。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">2.HRAI阵列感应测井一维反演处理软件</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		本软件以准噶尔盆地的中低阻地层为研究对象，对准噶尔盆地的阵列感应测井曲线进行了仔细研究，并结合地质、工程和现有资料，建立了适合准噶尔盆地中低阻地层的地层泥浆连续侵入物理模型和数学模型。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">3.新技术新工艺项目管理系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		新技术新工艺项目管理系统是一套基于B/S模式的应用系统。本系统实现了项目从提出、确定、组织、过程跟踪到验收以及资料归档的全过程管理，公司内部人员可根据分配的权限和负责的项目等默认关系访问项目信息资源，使得项目知识成果的推广和网上协同办公变得非常简单，大大加强了公司各部门之间的横向与纵向的协作和沟通。本系统在浏览器中内嵌Office控件，实现了文档的在线处理。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">4.岩石物理实验数据管理系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		岩石物理实验数据管理系统是一套基于C/S模式的应用系统。本系统提供实验测量数据的录入、导入和相关计算等操作，在此基础上通过建立应用模型，实现了以下具体应用：①数据的拟合；②直方图和交会图的绘制；③手动、自动去野点；④手动、自动岩心深度归位；⑤岩心、测井数据多种方式拟合。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">5.有杆抽油泵故障诊断系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		有杆抽油泵故障诊断系统是一套基于B/S模式的应用系统，刷相关搜索软件通过分析有杆抽油泵系统工作时的力学行为，建立了抽油杆柱一维振动力学模型和故障诊断模型，并设计了模型的精确求解算法。通过对井上功图数据进行分析，采用模式识别技术实现对有杆抽油泵的故障诊断，实时地反映井下抽油泵的工作状态，为工作人员的决策提供依据，从而降低相关工作人员的劳动强度，为油井安全生产提供了更完善的保障。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">6.集成试井解释软件AIWT</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		AIWT试井解释软件按照以测试数据库为基础、组合式解释模型为核心、可视化操作形式为主体的原则开发设计。解释模型按照地层模型、内边界条件、外边界条件任意组合方式设计，并且采用流量迭加压力方式统一各类测试的解释方法；采用可视化交互式技术提高工作效率。综合应用常规直线分析法和现代试井拟合分析法，按照分步求解、逐步求精的原则，根据各个流动期的模型压力特征，以图形方式直接估计参数初值，通过非线性优化改进拟合质量，同时AIWT提供手动参数调整、多个解释模型拟合对比功能。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">7.油气藏开发管理地理信息系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		油气藏开发涉及油气藏的三维空间分布和内部状态变化的复杂问题，信息系统是支持油藏管理的重要手段。传统油气藏开发管理信息系统基于表格形式表现对象属性，无法反映描述对象的空间联系和系统的空间分布模式。地理信息系统(GIS)能够有效描述二维空间问题，GIS技术引入油气藏开发管理信息系统极大地扩展管理信息系统的描述能力和表现形式，GIS作为信息集成平台能够有效组织地质(构造图、砂体展布图以及井间的剖面图)、储层特征描述、井身结构、采油/气工艺、地面管网、油气处理及油气藏生产动态等各方面信息，提供快速查询和专题地图功能，有效展现油气生产分布状况，辅助决策。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">8.非稳定产能预测和生产动态分析系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		生产系统分析是以单井开采系统为研究对象，根据流体在储层、井筒的流动特征，以流量和压力变化为依据，科学地分析整个生产系统在不同条件下的工作状态，从而确定油气井的合理产能和合理工作制度。应用常规生产系统分析油气藏动态主要存在两大问题：一是在油藏流入动态预测中采用二项式公式来预测油气井的流入动态，没有考虑渗流特征影响；二是不能描述开发过程中地层压力递减情况。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">9.便携式压裂酸化监测仪</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		压裂、酸化是油田经常采取的最有效的增产措施，在进行压裂、酸化施工过程中，为了保证施工顺利进行、减小风险，往往需要实时监测施工过程中的多种参数，如：油压、套压、排量、砂比等。我们开发的“压裂酸化实时监测及解释系统”是一套用于油田井下压裂酸化施工的实时监测系统和数据分析系统。系统能同时监测三两路压力信号、两路排量（主排量、胶联排量）信号、两路砂量信号。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">10.钻井液设计与管理分析系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		“钻井液设计与管理分析系统（DrillFESS）”。DrillFESS利用计算机技术解决钻井液、完井液的工程设计，现场报表的制作，钻井液参数计算，总结报告的制作，智能技术判断和分析等问题。通过输入每日钻井液工作报表资料，可以统计及分析各井段和全井的钻井作业情况，泥浆材料消耗及处理剂使用情况，查询有关钻井液资料，并可打印各种报表、报告和图表，还可以完成与钻井液有关的全部工程数据的管理。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">11.固井施工实时监测系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		固井施工实时监测系统用于实时监测固井施工过程有关参数的变化，从而很大程度保证了施工作业的准确性，保证了施工质量。该系统既能实时监测有关参数的变化如配水泥浆密度，注入水泥浆排量，压力变化，以及压力变化导致水泥浆在井下流动状态的变化等，实时的对这些变化作出相应的施工决策，又能预测出井下可能出现的状态，及时的为施工人员提出控制策略和建议。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">12.固井工程设计软件系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		固井工程设计软件系统 该系统由智能设计、仿真模拟、知识管理几部分组成，每部分为一个独立的程序项，但相互之间可以共享数据，相互调用。使用该系统能进行全井与单层套管固井智能设计、固井成本的预算与核算、注水泥过程仿真模拟。该系统能利用现场施工经验与专家知识，有效的支持整个设计，使固井设计更科学，更合理。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">13.油田开发规划决策系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		该系统采用功能模拟及神经网络等技术对油田生产状态进行分析，进而实现油田主要开发指标的预测，产量最优构成分析，措施最优控制、产量最优分配、年度及五年规划等功能。该软件获得2003年四川省科技进步奖。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">14IR-DAB数据采集系统、OF-DAB数据采集系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		此两类系统均为我院应信息产业部重庆第44研究所要求而研发，主要应用于其研制的红外摄像系统、光纤传输系统的数据采集与数据处理，包括硬件板卡和配套的数据处理软件。其中，硬件板卡基于32位PCI总线、高速A/D转换和Latitce公司的复杂可编程逻辑器件CPLD，完全达到了用户要求的性能指标。系统配套的数据处理软件包括底层驱动程序和上层应用程序，均属我院独立开发。目前，此两类系统均已成功运用，得到了用户的好评。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">15LS-PCTV视频采集卡</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		本系统为我院应成都利创软件有限公司的要求而研发，主要用于多媒体计算机中的电视接收与影音捕捉处理。系统采用高度集成的专用处理芯片和高性能PCI总线接口技术，支持多种数据压缩格式，可以将普通PC机变成具备电视接收、数字录像等功能的家庭娱乐中心。本系统在国内同类产品中属最早开发之列，现已实现量产并成功推向市场，为定制企业获得了较好的经济效益。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">16.HQ-PCTV视频采集卡</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		本系统为我院为深圳深亚电子有限公司开发的，它具备高品质影音捕捉特性及全频道电视接收功能，主要面向专业多媒体应用，采用世界最新的MPEG-2单芯片编解码器，图像效果一流，系统功能全面，操作软件简单易用，获得了用户的一致好评，现已成功应用于多个网络服务商、高等院校的流媒体制作及电教节目制作。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">17.Nguard网络安全卡</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		本系统为我院应深圳普智科技有限公司的要求而研发，主要用于企事业单位的内部网与外部因特网之间的物理隔离及实时切换，可从根本上保证企事业单位的网络应用安全。系统的结构合理、成本低廉，性能可靠，操作简单，现已通过国家信息产业部有关网络安全认证，并进入市场化阶段，为定制企业获得了较好的效益。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">18LS-CTV视频信号变换器</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		本系统为我院应深圳深亚电子有限公司的要求而研发相关搜索软件，主要用于其生产的视频监控系统中由CVBS信号到VGA信号的变换。系统采用单片微控制器和专用集成电路技术，开发周期短，结构紧凑，图像转换性能良好，得到了定制企业的认可。目前，该产品已经量产化，为企业创造了较好的效益。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">19EDA/SOPC/DSP实验开发系统</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		本系统为我院完全自主研发，主要应用于可编程逻辑系统的开发及高校相关课程的实践教学活动中。刷相关搜索软件系统基于最新的Altera FPGA结构，采用高速电子线路设计技术，具有成本低廉、性能良好、功能完善等特点，现已用于我校的课程教学及学生的毕业设计、科技竞赛等活动。
	</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">20KH-2文件保护卡</div>
	<div class="para" style="color: rgb(51, 51, 51); margin-bottom: 15px; text-indent: 2em; line-height: 25px; font-family: arial, 宋体, sans-serif;">
		本系统为我院教师的较早期完全自主研究成果，主要用于通用PC机中的重要文件保护，防止被计算机病毒及其它方式恶意删除、修改及破坏。该成果拥有两项国家发明专利，其深入计算机操作系统底层，具有较高的技术价值与经济价值，现已在多所大中小学的计算机房中得到成功运用。
	</div>
</div>