<div><div class="pageright">
<div class="pagerightcontent"><div class="content">
<p style="TEXT-INDENT: 2em"><font size="4" face="宋体">西南石油大学计算机专业创建于1984年，当年开始专科招生，1986年开始本科招生, 
1997年开始硕士研究生招生。1995年成立计算机科学系，2000年成立计算机科学学院。 </font></p>
<p style="TEXT-INDENT: 2em"><font size="4" face="宋体">学院设有计算机科学与技术、软件工程、网络工程、物联网工程共4个本科专业，并建有计算机科学与技术、软件工程两个硕士学位授权一级学科点、石油工程计算技术硕士点与博士点、以及计算机应用、软件工程等两个工程硕士领域，建有“石油工程计算机模拟技术”四川省高校重点实验室、“数据工程与数据分析”中美高校联合实验室、“面向对象数据库”校企联合实验室、SAP联合实验室等科研机构。 
</font></p>
<p style="TEXT-INDENT: 2em"><font size="4" face="宋体">学院现有教职工90余人，其中专职教师近80人，包括四川省“百人计划”首批入选者1人，博士生导师1人，教授10人，副教授13人。学院现有全日制在校学生1300余人，其中博、硕士研究生近100人，本科生1200余人。三十年来，学院科学研究硕果累累，在计算机模拟与仿真、数据挖掘与数据库开发、嵌入式系统、企业信息化建设、模式识别、人工智能与专家系统、地理信息系统、虚拟现实等多个稳定研究领域取得了重大研究成果和应用成果，其中石油工程钻井模拟培训装置成果已达到国内领先、国际一流水平。 
2006年以来，学院科学研究发展迅速，承担了国家重大专项子项目、国家自然科学基金等多项高水平国家项目，纵横向科研经费近5年突破3000万元。学院教师发表学术论文近350篇，其中被SCI/EI检索收录200多篇，获得专利及软件著作权50余项。 
</font></p>
<p style="TEXT-INDENT: 2em"><font size="4" face="宋体">近年来，学院在本科教学、研究生教学等方面取得了显著成果，人才培养质量大幅度提高。学院除建有四个本科专业外，还负责承担全校性计算机公共基础课程、以及部分院系、部分专业的相关专业基础及专业课程教学工作，曾获得四川省教学成果奖1项及四川省优秀电教科研成果奖1项，另有2门课程被评为四川省精品课程，计算机科学与技术专业则于2008年被评为四川省特色专业。学院积累了丰富的人才培养经验，建立了较为完整的学科专业结构和人才培养体系，先后为社会输送了3000余名计算机相关领域的专业技术人才，为我国油田和地方经济发展做出了一定的贡献。学院拥有良好的办学条件和育人环境，建有多个校内、校外学生实践实训基地，教学及科研实验室面积约4000平方米，拥有先进的洞穴式计算机虚拟现实系统及80余套高性能图形工作站、400余台微机、各类教学实验设备等，总资产达1000余万元。学院设有5个教研室、1个综合教学实验中心和1个学生实训中心，目前已成为西南地区培养计算机应用、软件开发和网络工程等IT领域应用型高级技术人才的重要基地。 
</font></p>
<p style="TEXT-INDENT: 2em"><font size="4" face="宋体">学院不断加强与国内外知名高校进行学术交流与合作。近三年来，已邀请30余位国内外知名专家来校进行交流访问，并选派优秀教师赴国内外知名大学进修。学院与肯塔基大学合作，成功举办了两次大型国际学术会议，提高了学院在国内的学术影响力。学院积极探索校企联合办学、抵近市场培养人才的新型模式，与国内众多知名IT企业建有“3+1”及“2+1+1”的深度合作关系，长期执行人才定制培养计划，从而开辟了广泛的就业渠道，建立了稳定的就业基地。在保持较高就业率的同时，还保证了良好的学生就业质量，绝大多数毕业生就业地点分布在北京、上海、重庆、成都、大连、广州等中心城市，历年的毕业生质量均得到了用人单位普遍好评。学院还注重外语应用能力培养，并与部分外资企业建立了人才输送绿色通道，使优秀毕业生有机会直接赴日本、印度、欧洲等海外地区工作。 
</font></p>
<p style="TEXT-INDENT: 2em"><font size="4" face="宋体">学院以培养创新性人才和复合型人才为目标，积极创造条件与机会，鼓励学生参与社会实践、素质拓展、课外科技及学术研究等活动。依托校内大学生实训中心，学院成立了多个学生科技团队，有序组织学生对外承接外包项目开发、参加各级课外科技竞赛活动等，近几年取得了20余项国家级及省级以上的奖励，获得项目经费总额达60余万元，并帮助部分学生走上了创业成才的道路，也受到了各兄弟院校的瞩目。 &nbsp;</font></p></div></div></div></div>
