


<div class="container-fluid content-over">
  <div class="row-fluid">
    <div class="span12">

      <div class="row-fluid" id="container">
        <div class="span2">
          <%= render "projects/index_nav" %>
        </div>
        <div class="span10 well alpha">
  			<div class="span12">
			<h3>
			计算机科学学院简介
			</h3>
			<%= render "home/scs_content" %>
		</div>
        </div>
      </div>
    </div>
  </div>
</div>



