
<div class="container-fluid content-over">
	<div class="row-fluid">
		<div class="span12 ">
			<div class="hero-unit radius alpha">
				<h2>
					计算机科学学院“本科教学质量工程”
				</h2>
				<p>
					这是一个可视化布局模板, 你可以点击模板里的文字进行修改, 也可以通过点击弹出的编辑框进行富文本修改. 拖动区块能实现排序.
				</p>
				<p>
					<a class="btn btn-success btn-large" href="/home/about">关于“本科教学工程” »</a>
					<a class="btn btn-info btn-large" href="/home/about_csc">学院简介 »</a>
					<a class="btn btn-large btn-default" style="color:#666 !important;" href="/admin">管理入口</a>
				</p>
			</div>
			<%= render "projects/projects_list" %>
		</div>
	</div>
</div>