
<div class="container-fluid content-over">
	<div class="row-fluid">
		<div class="span12 ">
			<div style="margin-bottom:36px;">
				<h2 style="color:#fefefe;">
					计算机科学学院“本科教学质量工程”
				</h2>
				<p style="color:#ddd;font-size:16px;margin-top:20px;margin-bottom:20px;">
					计算机科学学院学院办学始于1984年，主要面向我国快速发展的信息产业领域培养工程型与应用型技术人才，现已拥有完整的学科专业结构和人才培养体系，设有计算机科学与技术、软件工程、网络工程、物联网工程共4个本科专业，并建有计算机科学与技术、软件工程两个硕士学位授权一级学科点、石油工程计算技术硕士点与博士点、以及计算机应用、软件工程等两个工程硕士领域，目前在校本科生及博士、硕士研究生总数近1300人。
				</p>
				<p>
					<!--
					<a class="btn btn-success btn-large" href="/home/about">关于“本科教学工程” »</a>
				-->
					<a class="btn btn-info btn-large" href="/home/about_scs">学院简介 »</a>
					<a class="btn btn-large  btn-success"  href="/admin">管理入口</a>
				</p>
			</div>
			<h3 style="color:#eee;margin-bottom:16px;">
					项目展示
			</h3>
			<%= render "projects/projects_list" %>
		</div>
	</div>
</div>