<div class="alpha show_nav" id="show_nav">
<ul class="nav nav-list left-nav-over" >
				<%= render "projects/left_nav" %>
				<li class="divider">
				</li>
				<li>
					<a href="/attachments">文件管理</a>
				</li>
				<li>
					<a href="/admin">管理入口</a>
				</li>
			</ul>
</div>