<li class="nav-header">站内链接</li>
<!--
<li>
<a href="/home/index">首页</a>
</li>
-->
<li>
	<a href="/home/about_scs">计科院简介</a>
</li>
<li>
	<a href="/projects">项目列表</a>
</li>
<li>
	<a href="/attachments">相关文件</a>
</li>
<li>
	<a href="/admin">管理入口</a>
</li>