<% index=0 %>
<ul class="thumbnails">
	<% @projects.each do |project| %>
	<li class="span4 radius alpha">
		<div class="thumbnail">
			<div class="caption">
				<h3 style="white-space:normal; word-break:break-all;overflow:hidden;">
					<%=link_to project.name,"/projects/#{project.id}",:class=>"link" %></h3>
				<p style="word-wrap: break-word;font-size:14px;">
					<%= project.description %>
				</p>
			</div>
		</div>
	</li>
	<% index=index+1 %>
	<% if (index%3)==0 %></ul>
<ul class="thumbnails">
	<% end %>
	<% end %></ul>