<div class="alpha show_nav" id="show_nav">
<ul class="nav nav-list left-nav-over" >
			<%= render "projects/left_nav" %>

				<li class="nav-header">
					项目快捷跳转
				</li>
				<li>
					<a href="#description" id="description" class="nav_button">项目简介</a>
				</li>
				<li>
					<a href="#declaration" id="declaration" class="nav_button">申请书</a>
				</li>
				<li>
					<a href="#assignment_book" id="assignment_book" class="nav_button">任务书</a>
				</li>
				<li>
					<a href="#phase_check" id="phase_check" class="nav_button">阶段检查</a>
				</li>
				<li>
					<a href="#experience" id="experience" class="nav_button">经验交流</a>
				</li>
				<li>
					<a href="#achievement" id="achievement" class="nav_button">成果展示</a>
				</li>
				<% if @project.video? %>
				<li>
					<a href="#video" id="video" class="nav_button">视频展示</a>
				</li>
				<% end %>
				<li>
					<a  id="all" class="nav_button">显示所有</a>
				</li>				
			</ul>
</div>