<div class="alpha show_nav" id="show_nav">
<ul class="nav nav-list " >
				<li class="nav-header">
					站内链接
				</li>
				<li>
					<a href="/home/index">首页</a>
				</li>
				<li>
					<a href="/home/about">关于“本科教学工程”</a>
				</li>
				<li>
					<a href="/home/about_csc">计科院简介</a>
				</li>
				<li>
					<a href="/projects">项目列表</a>
				</li>
				<li class="nav-header">
					项目快捷跳转
				</li>
				<li>
					<a href="#">申请书</a>
				</li>
				<li>
					<a href="#">任务书</a>
				</li>
				<li>
					<a href="#">阶段检查</a>
				</li>
				<li>
					<a href="#">成果展示</a>
				</li>
				<li>
					<a href="#">附件</a>
				</li>
				
				<li class="divider">
				</li>
				<li>
					<a href="#">管理入口</a>
				</li>
			</ul>
</div>