<div class="container-fluid content-over">
  <div class="row-fluid">
    <div class="span12">

      <div class="row-fluid" id="container">
        <div class="span2">
          <%= render "projects/index_nav" %>
        </div>
        <div class="span10">
        <%= render "projects/projects_list" %>
        </div>
      </div>
    </div>
  </div>
</div>




