
<div class="accordion" id="accordion-238744">

						<div class="accordion-group">
							<div class="accordion-heading">
								 <a class="accordion-toggle  unfold"  href="/projects">
								 	所有项目
								 </a>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								 <a class="accordion-toggle  unfold" data-toggle="collapse" data-parent="#accordion-238744" href="#accordion-element-355347">
								 	计科院
								 </a>
							</div>
							<div id="accordion-element-355347" class="accordion-body collapse">
								<div class="accordion-inner">
									<a href="#" class="projects_link">微大学</a>
									<a href="#" class="projects_link">功能块...</a>
									<a href="#" class="projects_link">功能块...</a>
									<a href="#" class="projects_link">功能块...</a>
									<a href="#" class="projects_link">功能块...</a>
								</div>
							</div>
						</div>
						<div class="accordion-group">
							<div class="accordion-heading">
								 <a class="accordion-toggle unfold" data-toggle="collapse" data-parent="#accordion-238744" href="#accordion-element-369432">石工院</a>
							</div>
							<div id="accordion-element-369432" class="accordion-body collapse">
								<div class="accordion-inner">
									功能块...
								</div>
							</div>
						</div>
					</div>